/* Aca estan los estilos para el footer */

@import url("./general.style.css");

footer
{
    background-color: var(--colorBackgroundFooter);
    text-align: center;
}

.section-footer
{
    margin-top: 4em;
}

.social-media > h3
{
    padding-top: 1em;
    margin-bottom: 1em;
    font-size: clamp(1em, 5svw, 1.5em);
}

.social-media a
{
    text-decoration: none;
    color: #000;
}

.social-media-links-list
{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: var(--fontFooter);
    font-size: clamp(0.5em, 5svw, 1em);
}

.social-media-links-list li
{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.social-media-links-list img
{
    max-width: 20%;
    height: auto;
}

.rights > h4
{
    font-size: clamp(0.2em, 5svw, 1.2em);
}

.rights p
{
    padding: 0.5% 5% 2% 5%;
    font-family: var(--fontFooter);
    font-size: clamp(0.2em, 5svw, 1em);
}

/* Mediaqueries */

@media screen and (min-width: 880px)
{
    .social-media-links-list img{
        max-width: 15%;
        height: auto;
    }
}
