@import url("./general.style.css");

/*html {
  box-sizing: border-box;
}*/

*,*::after, *::before {
  box-sizing: inherit;
}

/*Forms*/

.form{
  padding-top: 0.5em ;
  display: flex;
  flex-direction: column;
}

.form_title {
  font-size: 2rem;
  margin-bottom: 0.5em;
}

/*image-suggestions*/

  /*image-booking*/

.form_input{
  width: 100%;
  font-size: 1em;
  padding: 0.5em 0.5em;
  border: none;
  outline: none;
  background: none;
  background-color: #fff;
  margin-bottom: 1em;
  resize: none;
  font-family: "Scaly Sans";
}
.name-quantity, .date-time
{
  width: 100%;
}

.form_input:focus + .form_label,
.form_input:not(:placeholder-shown) + .form_label {
  transform: translateY(-12px) scale(1);
  transform-origin: left top;
}

.form_label {
  font-size: 1rem;
  transform: translateY(10px);
  transition: transform 0.5s, color 0.3s;
  font-family: "Scaly Sans";
}

.form_submit {
  cursor: pointer;
  width: 100%;
  background-color: #fff;
  font-size: 1.3rem;
  padding: 0.6em;
  border: none;
  font-family: "Scaly Sans";
}

.form_submit:hover{
  background-color:#C0AD6A; ;
}

@media screen and (min-width: 880px)
{
  .form{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .name-quantity, .date-time
  {
    width: 48%;
  }

}