

:root {
  
  /* Colores */
  --Color_Background: #EEE5CE;
  --Color_Accent: #E0E5C1;
  --Color_HeaderUnderline: #C0AD6A;
  --Color_HeaderText: #58180D;
  --Color_MonsterStatBackground: #F2E5B5;
  --Color_CaptionText: #766649;
  --Color_WatercolorStain: #BBAD82;
  --Color_Footnotes: #C9AD6A;
  
  /* Fondo */
  --Background_Text: url("../media/images/background.jpg");
}


