/* Aca estan los estilos generales que se aplican a todo el sitio */

@font-face 
{
  font-family: "Booksanity";
  src: url("../media/fonts/Bookinsanity.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face 
{
  font-family: "Mr Eaves Small Caps";
  src: url("../media/fonts/Mr-Eaves-Small-Caps.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face 
{
  font-family: "Scaly Sans";
  src: url("../media/fonts/Scaly-Sans.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face 
{
  font-family: "Scaly Sans Bold";
  src: url("../media/fonts/Scaly-Sans-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face 
{
  font-family: "Scaly Sans Caps";
  src: url("../media/fonts/Scaly-Sans-Caps.otf");
  font-weight: normal;
  font-style: normal;
}

:root 
{

  /* Colores */
  --colorBackground: #EEE5CE;
  --colorBackgroundFooter: #BBAD82;
  --colorBackgroundHeader: #C9AD6A;
  --colorBackgoundItemsTable: #d2e6c8;
  --colorBackgroundLogo: #766649;
  --colorErrorMessage : #9C2B1B;
  --colorHeaderUnderline: #C0AD6A;
  --colorHeaderText: #58180D;
  --colorSendButton: #BBAD82;
  --colorSendButtonHover: #d2e6c8;
  
  /* Fuentes */
  --fontErrorMessage: "Scaly Sans";
  --fontForm: "Scaly Sans";
  --fontFooter: "Scaly Sans";
  --fontHeaderText: "Mr Eaves Small Caps";
  --fontItemsTableHeader: "Scaly Sans Bold";
  --fontItemsBody: "Scaly Sans";
  --fontMenu: "Scaly Sans Caps";
  --fontParagraph: "Booksanity";
  
  /* Imagenes de fondo */
  --imageBackgroundText: url("../media/images/background.jpg");
}

*, html
{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body
{
  background-color: var(--colorBackground);
  background-image: var(--imageBackgroundText);
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4
{
  color: var(--colorHeaderText);
  font-family: var(--fontHeaderText);
}

p
{
  font-family: var(--fontParagraph);
}



