@import url("./general.style.css");

header{
    background-color: var(--Color_Footnotes);
    position: sticky;
    top: 0;
    z-index: 1;
    animation: show 1.5s ease-in-out;
}

nav{
    height: 10svh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}